@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class='about-section'>
        <h2>About Section</h2>
    </div>

    <div class='animation-box-one'>
        <h2>animation-box-one</h2>
    </div>

    <div class='animation-box-two'>
        <h2>animation-box-two</h2>
    </div>

    <div class='carousel'>
        <h2>carousel</h2>
    </div>
</div>
