@{
    ViewData["Title"] = "Kenzoku Desu";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="d-block w-100 h-100" src="../img/rei_q_reading.gif" alt="Intro Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>About Bub</h1>
            <p style="margin-top: 15px;width:250px;">Here is some information about me.</p>
        </div>
    </div>
</div>


<div class="content-background">
    <div class='details-container'>
        <div class='anime-list-container row'>
            <div class="anime-inf col">
                <h1>Bubs anime list</h1>
                <p>Need to watch:</p>
                <ul>
                    <li>skip n loafer</li>
                    <li>do it yourself!!</li>
                    <li>the devil is a part timer (dub!)</li>
                    <li>birdie wing</li>
                    <li>world dai star</li>
                    <li>izetta the last witch</li>
                    <li>yuri is my job</li>
                    <li>buddie daddies</li>
                    <li>honse anime</li>
                    <li>adachi and shima</li>
                    <li>ippon</li>
                    <li>onimai</li>
                    <li>magical revolution of the reincarnated princess</li>
                    <li>akiba maid war</li>
                    <li>scoring ping pong girls</li>
                    <li>kimi no todoke</li>
                    <li>100 girlfriends episode 1,2,3</li>
                    <li>frieren</li>
                    <li>bartender</li>
                    <li>tamayomi</li>
                    <li>cross game</li>
                    <li>girls last tour</li>
                </ul>
                <p>Watched:</p>
                <ul>
                    <li>burn the witch</li>
                    <li>villainess</li>
                    <li>vexations</li>
                    <li>demon slayer</li>
                    <li>my hero academia</li>
                    <li>laid back camp</li>
                    <li>a certain scientific railgun</li>
                    <li>nichijou</li>
                    <li>blue lock</li>
                    <li>your name</li>
                    <li>bocchi</li>
                    <li>jellyfish can't swim in the night</li>
                    <li>the many sides of voice actor radio</li>
                    <li>big windup</li>
                    <li>mix</li>
                    <li>ace of diamond</li>
                    <li>fairy tail</li>
                    <li>if my favorite idol went to the budokan I would die</li>
                    <li>vest the stampede (2023)</li>
                </ul>    
            </div>
        </div>

        <div class='games-list-container col'>
            <div class="games-info">
                <h1>Bubs video game list</h1>
                <p>Favorites:</p>
                <ul>
                    <li>Dishonored 1 & 2</li>
                    <li>Minecraft Java & Bedrock</li>
                    <li>Stardew Valley</li>
                    <li>Slime Rancher 1 & 2</li>
                    <li>Genshin Impact</li>
                    <li>Moonlighter</li>                
                </ul>

                <p>Played (to relative completion):</p>
                <ul>
                    <li>Call of Duty (all of them)</li>
                    <li>Dead by Daylight</li>
                    <li>No Man's Sky</li>
                    <li>Beat Saber</li>
                    <li>PVZ</li>
                    <li>Muse Dash</li>
                    <li>Tomb Raider Series</li>
                    <li>Outer Wilds</li>
                    <li>Katana ZERO</li>
                    <li>Lego Series</li>
                    <li>Need for Speed</li>
                    <li>Insaniquarium</li>
                    <li>Virtual Villagers (all of them)</li>
                </ul>    
            </div>
        </div>
    </div>
</div>