@{
    ViewData["Title"] = "Home Page";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header'>
            <img class="shinji-gif" src="../img/shinji_fishing_1.gif" alt="Intro Gif">
        </div>
        <div class='about-section-body' style="text-align:left;">
            <h1>Hello There<img class='heart-balloon heart-balloon-animation' src='img/heart-balloon.svg'></h1>
            <p style="margin-top: 15px;width:250px;">My name is Jasper. I'm a software engineer, gifmaker, video game developer, 3D Modeler, and artist.</video></p>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">More about Me</button>
            </form>
        </div>
    </div>
</div>

<div class="content-background">
    <div class="home-container row">
        <div class='index-box-one col'>
            <img src="../img/rei_q_reading.gif" alt="ReiQ Gif">
        </div>

        <div class='index-box-two col'>
            <p class='text left'>I've always got some kind of WIP. Check my projects out!</p>
            <form>
                <button class="index-button" asp-action='projects' asp-controller="home">Project Center</button>
            </form>
        </div>
    </div>
@* </div>

<div class="content-background"> *@
    <div class="home-container row">
        <div class='index-box-three col'>
            <p>I'm big on art and vtubers and video games and anime and stuff.</p>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">About me</button>
            </form>
        </div>

        <div class='index-box-two col'>
            <img src="../img/aqutowa.gif" alt="Towa Gif">
        </div>
    </div>
@* </div>

<div class="content-background"> *@
    <div class="home-container row">
        <div class='index-box-one col'>
            <img class="sodamachine-gif" src="../img/sodamachine.gif" alt="Soda Machine Gif">
            <img class="mailbox-gif" src="../img/triangle_mailbox.gif" alt="triangle mailbox Gif">
        </div>

        <div class='index-box-two col'>
            <p class='text left'>Always making something.</p>
            <form>
                <button class="index-button" asp-action='projects' asp-controller="home">3D Models</button>
            </form>
        </div>
    </div>
</div>

