@{
    ViewData["Title"] = "Home Page";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header'>
            <img class="shinji-gif" src="../img/shinji_fishing_1.gif" alt="Intro Gif">
        </div>
        <div class='about-section-body' style="text-align:left;">
            <h1>Hello There<img class='heart-balloon heart-balloon-animation' src='img/heart-balloon.svg'></h1>
            <p style="margin-top: 15px;width:250px;">My name is Jasper. I'm a software engineer, gifmaker, video game developer, 3D Modeler, and artist.</video></p>
            <form>
                <button class="index-button" asp-action='details' asp-controller="home">More about Me</button>
            </form>
        </div>
    </div>
</div>

<div class="content-background">
    <div class="home-container row">
        <div class='index-box-one col'>
            <p></p>
            <img src="../img/rei_q_reading.gif" alt="ReiQ Gif">
        </div>

        <div class='index-box-two col'>
            <p></p>
            <img src="../img/eyepatch_asuka_1.gif" alt="Asuka Gif">
        </div>
    </div>
</div>

<div class="content-background">
    <div class="home-container row">
        <div class='index-box-one col'>
            <p></p>
            <img src="../img/7suisei.gif" alt="Suisei Gif">
        </div>

        <div class='index-box-two col'>
            <p></p>
            <img src="../img/8towasama.gif" alt="Towa Gif">
        </div>
    </div>
</div>

