@{
    ViewData["Title"] = "Projects";
}

<div class="introduction-block">
    <div class="about-section row">
        <div class='about-section-header col'>
            <img class="d-block w-100 h-100" src="../img/eyepatch_asuka_1.gif" alt="Intro Projects Gif">
        </div>
        <div class='about-section-body col' style="text-align:left;">
            <h1>Bubs' Projects</h1>
            <p style="margin-top: 15px;width:250px;">Clickable Projects and their descriptions~</p>
        </div>
    </div>
</div>


<div class="content-background">
    <div class="project-page">
        <div class='projects-container'>
            <h1>Projects</h1>
            <div class='project'>picoCAD Project</div>
            <div class='project'><a href="https://github.com/Bubbles0989/bubs-minecraft-mods">Minecraft Mods</a></div>
            <div class='project'><a href="https://github.com/Bubbles0989/Panda-Programmers">Capstone Project</a></div>
            <div class='project'><a href="https://github.com/Bubbles0989/Byte4Byte.Dev">this sites source code</a></div>
            <div class='capstone-link'></div>
            <div class='animation-box-projects'></div>        
        </div>
    </div>
</div>

