@{
    ViewData["Title"] = "Projects";
}

<div class='projects-container'>
    <h1>Projects</h1>
    <div class='project'></div>
    <div class='project'></div>
    <div class='project'></div>
    <div class='capstone-link'></div>
    <div class='animation-box-projects'></div>        
</div>
