@{
    ViewData["Title"] = "Projects";
}

<div class='projects-container'>
    <h1>Projects</h1>
    <div class='project'>picoCAD Project</div>
    <div class='project'><a href="https://github.com/Bubbles0989/bubs-minecraft-mods">Minecraft Mods</a></div>
    <div class='project'><a href="https://github.com/Bubbles0989/Panda-Programmers">Capstone Project</a></div>
    <div class='capstone-link'></div>
    <div class='animation-box-projects'></div>        
</div>
